.DS_Store
sftp-config*

application/cell/cache/*

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/database.php
application/config/setting/mail_gun.php
application/config/setting/facebook.php

application/config/system/orm_uploader.php
application/config/system/s3.php

temp/*

upload/*

assets/*

/cmd

system/cmd/.sass-cache/*
system/cmd/node_modules/*
system/cmd/npm-debug.log

vendor/*