@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?u4q8vi');
    src:    url('fonts/icomoon.eot?u4q8vi#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?u4q8vi') format('truetype'),
        url('fonts/icomoon.woff?u4q8vi') format('woff'),
        url('fonts/icomoon.svg?u4q8vi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
    content: "\e115";
}
.icon-cross:before {
    content: "\e117";
}
.icon-gps_fixed:before {
    content: "\e1b3";
}
.icon-pin_drop:before {
    content: "\e1f6";
}
.icon-traffic:before {
    content: "\e565";
}
.icon-github:before {
    content: "\e603";
}
.icon-search:before {
    content: "\e604";
}
.icon-link-external:before {
    content: "\e605";
}
.icon-link:before {
    content: "\e606";
}
.icon-plus:before {
    content: "\e608";
}
.icon-chevron-right:before {
    content: "\e60a";
}
.icon-chevron-left:before {
    content: "\e60b";
}
.icon-images:before {
    content: "\e60c";
}
.icon-enter:before {
    content: "\e60d";
}
.icon-exit:before {
    content: "\e60f";
}
.icon-user:before {
    content: "\e610";
}
.icon-user2:before {
    content: "\e611";
}
.icon-file-text2:before {
    content: "\e612";
}
.icon-triangle-up:before {
    content: "\e614";
}
.icon-triangle-down2:before {
    content: "\e61f";
}
.icon-checkmark:before {
    content: "\e624";
}
.icon-price-tag:before {
    content: "\e627";
}
.icon-spoon-knife:before {
    content: "\e629";
}
.icon-location:before {
    content: "\e630";
}
.icon-youtube:before {
    content: "\e802";
}
.icon-zoomin:before {
    content: "\e900";
}
.icon-zoomout:before {
    content: "\e901";
}
.icon-alarm-cancel:before {
    content: "\e902";
}
.icon-eye2:before {
    content: "\e903";
}
.icon-chevron-thin-left2:before {
    content: "\e906";
}
.icon-chevron-thin-right2:before {
    content: "\e907";
}
.icon-pencil2:before {
    content: "\e908";
}
.icon-play:before {
    content: "\e909";
}
.icon-film:before {
    content: "\e90a";
}
.icon-shrink:before {
    content: "\e90b";
}
.icon-enlarge:before {
    content: "\e90c";
}
.icon-arrow-right:before {
    content: "\e90d";
}
.icon-chat-3:before {
    content: "\e90e";
}
.icon-tools:before {
    content: "\e90f";
}
.icon-bin:before {
    content: "\e9ac";
}
.icon-flame:before {
    content: "\f0d2";
}
.icon-location-arrow:before {
    content: "\f124";
}
.icon-automobile:before {
    content: "\f1b9";
}
.icon-hour-glass:before {
    content: "\e979";
}
.icon-rewind:before {
    content: "\e051";
}
.icon-fast-forward:before {
    content: "\e055";
}
.icon-chevron-thin-left:before {
    content: "\e904";
}
.icon-chevron-thin-right:before {
    content: "\e905";
}

