@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-wz4qjv');
	src:url('fonts/icomoon.eot?#iefix-wz4qjv') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-wz4qjv') format('truetype'),
		url('fonts/icomoon.woff?-wz4qjv') format('woff'),
		url('fonts/icomoon.svg?-wz4qjv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-exclamation-triangle:before {
	content: "\e61e";
}
.icon-menu:before {
	content: "\e600";
}
.icon-home:before {
	content: "\e601";
}
.icon-list2:before {
	content: "\e602";
}
.icon-github:before {
	content: "\e603";
}
.icon-search:before {
	content: "\e604";
}
.icon-link-external:before {
	content: "\e605";
}
.icon-link:before {
	content: "\e606";
}
.icon-share:before {
	content: "\e607";
}
.icon-plus:before {
	content: "\e608";
}
.icon-facebook-square:before {
	content: "\e609";
}
.icon-chevron-right:before {
	content: "\e60a";
}
.icon-chevron-left:before {
	content: "\e60b";
}
.icon-images:before {
	content: "\e60c";
}
.icon-enter:before {
	content: "\e60d";
}
.icon-arrow-right:before {
	content: "\e60e";
}
.icon-exit:before {
	content: "\e60f";
}
.icon-user:before {
	content: "\e610";
}
.icon-user2:before {
	content: "\e611";
}
.icon-file-text2:before {
	content: "\e612";
}
.icon-key:before {
	content: "\e613";
}
.icon-refresh:before {
	content: "\e615";
}
.icon-location2:before {
	content: "\e616";
}
.icon-calendar:before {
	content: "\e619";
}
.icon-in:before {
	content: "\e61a";
}
.icon-exclamation:before {
	content: "\e61c";
}
.icon-grid:before {
	content: "\e61d";
}
.icon-pin-alt:before {
	content: "\e61f";
}
.icon-checkmark:before {
	content: "\e620";
}
.icon-x:before {
	content: "\e621";
}
.icon-pencil2:before {
	content: "\e906";
}
.icon-hour-glass:before {
	content: "\e979";
}
.icon-fire:before {
	content: "\e9a9";
}
.icon-bin:before {
	content: "\e9ac";
}
.icon-circle-up:before {
	content: "\ea41";
}
.icon-circle-down:before {
	content: "\ea43";
}
.icon-more:before {
	content: "\f833";
}
.icon-triangle-up:before {
	content: "\e614";
}
.icon-triangle-right:before {
	content: "\e617";
}
.icon-triangle-left:before {
	content: "\e618";
}
.icon-triangle-down:before {
	content: "\e61b";
}
