@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-7a5lr6');
	src:url('fonts/icomoon.eot?-7a5lr6#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-7a5lr6') format('truetype'),
		url('fonts/icomoon.woff?-7a5lr6') format('woff'),
		url('fonts/icomoon.svg?-7a5lr6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-share2:before {
	content: "\e633";
}
.icon-price-tag:before {
	content: "\e627";
}
.icon-price-tags:before {
	content: "\e628";
}
.icon-spoon-knife:before {
	content: "\e629";
}
.icon-eye-blocked:before {
	content: "\e62a";
}
.icon-map2:before {
	content: "\e631";
}
.icon-clipboard:before {
	content: "\e62c";
}
.icon-paperplane:before {
	content: "\e62f";
}
.icon-arrow-left:before {
	content: "\e634";
}
.icon-pin_drop:before {
	content: "\e1f6";
}
.icon-thumb_up:before {
	content: "\e2ee";
}
.icon-comment:before {
	content: "\e62e";
}
.icon-map:before {
	content: "\e626";
}
.icon-menu:before {
	content: "\e600";
}
.icon-home:before {
	content: "\e601";
}
.icon-list2:before {
	content: "\e602";
}
.icon-github:before {
	content: "\e603";
}
.icon-search:before {
	content: "\e604";
}
.icon-link-external:before {
	content: "\e605";
}
.icon-link:before {
	content: "\e606";
}
.icon-share:before {
	content: "\e607";
}
.icon-plus:before {
	content: "\e608";
}
.icon-facebook-square:before {
	content: "\e609";
}
.icon-chevron-right:before {
	content: "\e60a";
}
.icon-chevron-left:before {
	content: "\e60b";
}
.icon-images:before {
	content: "\e60c";
}
.icon-enter:before {
	content: "\e60d";
}
.icon-arrow-right:before {
	content: "\e60e";
}
.icon-exit:before {
	content: "\e60f";
}
.icon-user:before {
	content: "\e610";
}
.icon-user2:before {
	content: "\e611";
}
.icon-file-text2:before {
	content: "\e612";
}
.icon-key:before {
	content: "\e613";
}
.icon-triangle-up2:before {
	content: "\e615";
}
.icon-refresh:before {
	content: "\e616";
}
.icon-location2:before {
	content: "\e619";
}
.icon-triangle-right2:before {
	content: "\e61a";
}
.icon-triangle-left2:before {
	content: "\e61c";
}
.icon-calendar:before {
	content: "\e61d";
}
.icon-in:before {
	content: "\e61e";
}
.icon-triangle-down2:before {
	content: "\e61f";
}
.icon-exclamation:before {
	content: "\e620";
}
.icon-grid:before {
	content: "\e621";
}
.icon-exclamation-triangle:before {
	content: "\e622";
}
.icon-pin-alt:before {
	content: "\e623";
}
.icon-checkmark:before {
	content: "\e624";
}
.icon-x:before {
	content: "\e625";
}
.icon-pencil2:before {
	content: "\e906";
}
.icon-hour-glass:before {
	content: "\e979";
}
.icon-fire:before {
	content: "\e9a9";
}
.icon-bin:before {
	content: "\e9ac";
}
.icon-circle-up:before {
	content: "\ea41";
}
.icon-circle-down:before {
	content: "\ea43";
}
.icon-more:before {
	content: "\f833";
}
.icon-mail-forward:before {
	content: "\e632";
}
.icon-mail:before {
	content: "\e62d";
}
.icon-help:before {
	content: "\e62b";
}
.icon-location:before {
	content: "\e630";
}
.icon-triangle-up:before {
	content: "\e614";
}
.icon-triangle-right:before {
	content: "\e617";
}
.icon-triangle-left:before {
	content: "\e618";
}
.icon-triangle-down:before {
	content: "\e61b";
}

